<div class="box hot">
    <div class="hot_title">
        <span>今日热议主题</span>
    </div>
    <div class="item">
        <img
                src="https://cdn.v2ex.com/avatar/7357/b0fb/24530_normal.png?m=1660735681"
                class="avatar"
                alt=""
        />
        <span class="title"
        >不结婚不生娃不买房是不是可以免除 99%的烦恼</span
        >
    </div>
</div>


<style>
  .right-bar .hot {
    margin-top: 30px;
    /* border:1px  red solid; */
    /* padding: 10px; */
  }

  .right-bar .hot .item {
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }

  .right-bar .hot .item img {
    margin-right: 8px;
  }

  .right-bar .hot .hot_title {
    padding: 10px;
    font-size: 17px;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  }
</style>
