<div class="main">


    <div class="box post-container">


        <div class="post-title-container bottom-line" style="position: relative">

            <div class="post-crumb">
                <a href="/">V2EX</a>
                <span class="chevron">&nbsp;›&nbsp;</span>
                <span>{{.Data.Post.Node.Name}} &nbsp;</span>
            </div>

            <h2 class="title">
                {{.Data.Post.Title}} </h2>


            <small class="post-info">
                <a href="">{{.Data.Post.Username}}</a>
                <span>·</span>
                <span>{{.Data.Post.CreatedAt | TimeFormatDivide24Hour}}</span>
                <span>·</span>
                <span>{{.Data.Post.VisitsAmount}} 次点击</span>
            </small>

            <img style="position: absolute;top:20px;right:20px;" class="avatar" width="70px" src="/image/img.png"
                 alt="">

        </div>

        <p class="post-content bottom-line">

            {{.Data.Post.Content}}
        </p>

        <div class="post-action">
            <small class="post-action-left">
                {{if .Data.IsCollectPost}}
                <a href="#;" class="toggle-collect">取消收藏</a>
                {{else}}
                <a href="#;" class="toggle-collect">加入收藏</a>
                {{end}}

                {{if ne .Data.Post.UserId .User.Id}}
                {{if .Data.IsShieldPost}}
                <a href="#;" class="toggle-shield-post">取消忽略</a>
                {{else}}
                <a href="#;" class="toggle-shield-post">忽略主题</a>
                {{end}}

                {{if .Data.IsThankPost}}
                <span>感谢已发送</span>
                {{else}}
                <a href="#;" class="thanks">感谢</a>
                {{end}}
                {{end}}
            </small>

            <small class="post-action-right">
                <span>
                    {{.Data.Post.VisitsAmount}} 次点击
                </span>
                <span>·</span>
                <span>
                    {{.Data.Post.CollectionAmount}} 人收藏
                </span>
            </small>

        </div>

    </div>

    <div class="sep20">
    </div>

    <div class="comments-wrapper">


        <div class="box comments-container">
            <div class="comments-header bottom-line">
                <div class="comments-header-left">
                    <span>{{.Data.Post.ReplyAmount}} 条回复</span>
                    <span>·</span>
                    <span>{{.Data.Post.ReplyLastTime}}</span>
                </div>
            </div>
            <div class="comments">

                {{range $key,$reply := .Data.Post.Replies}}
                <div class="comment-wrapper bottom-line">
                    <img src="/image/img.png" class="avatar">
                    <div class="comment">

                        <div class="comment-top">
                            <div class="comment-top-left">
                                <a class="username" href="/member/Ashore">{{$reply.Username}}</a>

                                {{if eq $.Data.Post.UserId $reply.UserId}}
                                <span class="op">OP</span>
                                {{end}}

                                <small>{{$reply.CreatedAt | TimeFormatDivide24Hour}}</small>
                                <small class="equipment">via Android</small>
                                <span>

                            {{if $reply.ThanksAmount}}
                                <img src="/image/heart.png" class="heart" width="15px">

                            <small>{{$reply.ThanksAmount}}</small>
                            {{end}}
                            </span>
                            </div>
                            <div class="comment-top-right">
                                <div class="shield_thank">
                                    {{if ne $reply.UserId $.User.Id}}

                                    <a href="#;" class="shield_reply" data-reply-id="{{$reply.Id}}"
                                       data-username="{{$reply.Username}}">屏蔽</a>
                                    <a href="#;" class="thanks_reply" data-reply-id="{{$reply.Id}}"
                                       data-username="{{$reply.Username}}">感谢回复者</a>
                                    {{end}}

                                </div>
                                <div class="comment-floor">
                                    <a href="">
                                        <img src="/image/reply.png" width="20px"
                                             style="margin-right: 10px;vertical-align: middle"
                                             alt="">
                                    </a>
                                    <span class="floor">{{$key | plus 1}}</span>
                                </div>
                            </div>
                        </div>


                        <div class="comment-content">
                            {{$reply.Content}}
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>


    </div>


    <div class="sep20"></div>

    <div class="box reply-container">

        <div class="reply-header bottom-line">
            <div class="reply-header-left">
                <span>添加一条新回复</span>
            </div>
            <div class="reply-header-right">
                <a href="#;" class="cancel-sticky">取消回复框停靠</a>
                <a href="#header">回到顶部</a>
            </div>
        </div>

        <form action="/comments-store">
            <div class="problem" style="display: none">
                请解决以下问题然后再提交：
                <ul></ul>
            </div>

            <div class="reply-content">
                <input type="hidden" name="post_id" value="{{.Data.Post.Id}}">

                <textarea name="content" id="" cols="20" rows="8"></textarea>
            </div>

            <div class="reply-footer bottom-line">
                <div class="reply-footer_left">
                    <input type="submit" value="回复">
                </div>
                <div class="reply-footer_right">
                    请尽量让自己的回复能够对别人有帮助
                </div>
            </div>

        </form>
    </div>


</div>

<div class="right-bar">
    {{include "./component/right-bar-user.html" .}}
</div>

<script>
  let postId = $('input[name="post_id"]').val();

  $(".reply-content textarea").focus(function () {
    $(".reply-container").addClass('sticky')
  });

  $('.cancel-sticky').click(function () {
    $(".reply-container").removeClass('sticky')
  })

  $(".toggle-collect").click(function () {
    $.post("/posts-toggle-collect", {post_id: postId}, function (res) {
      if (res.code === 0) {
        window.location.reload()
      } else {
        alert(res.message)
      }
    })
  })
  $(".toggle-shield-post").click(function () {
    $.post("/posts-toggle-shield", {post_id: postId}, function (res) {
      if (res.code === 0) {
        window.location.reload()
      } else {
        alert(res.message)
      }
    })
  })
  $(".thanks").click(function () {
    $.post("/posts-thanks", {post_id: postId}, function (res) {
      if (res.code === 0) {
        window.location.reload()
      } else {
        alert(res.message)
      }
    })
  })

  $(".shield_reply").click(function () {
    let username = $(this).data("username")
    let replyId = $(this).data("reply-id")
    if (window.confirm("确认要不再显示来自 "+username+" 的这条回复？")) {

    }
  })
  jQuery(function ($) {

    $("form").submit(function () {
      $.post(
        $(this).attr('action'),
        $(this).serialize(),
        function (data) {
          if (data.code !== 0) {
            gf.setError(data.message);
          } else {
            window.location.reload()
          }
        }
      );
      return false;
    });
  })
</script>

<style>

  .post-title-container {
    padding: 20px;
  }

  .post-crumb {
    font-size: 15px;
    line-height: 120%;
    text-align: left;
    /*overflow: auto;*/
  }

  .post-info {
    color: var(--color-gray);
  }

  .post-info a {
    color: var(--color-gray);
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    /*margin: 0 0 10px;*/
    padding: 0;
    line-break: anywhere;
  }

  .post-content {
    font-size: 15px;
    padding: 20px;
    margin: 0px;
    line-height: 1.6;
    word-break: break-word;

  }

  .post-action {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
  }

  .comments-header {
    padding: 20px;
    color: var(--color-gray);
  }

  .comment-wrapper {
    display: flex;
    padding: 15px;
    position: relative;
  }

  .comment {
    width: 100%;
  }

  .comment-wrapper .comment-top {
    display: flex;
    justify-content: space-between;
    /*width: 100%;*/
  }


  .shield_thank {
    display: inline-block;
  }

  .comment-floor {
    display: inline-block;
  }

  .comment-wrapper .avatar {
    width: 55px;
    height: 55px;
    margin-right: 15px;
  }

  .comment-top {
    color: var(--color-fade);
    height: 40px;
    line-height: 40px;
  }

  .comment-top-left .username {
    margin-right: 10px;
  }

  .comment-top-left .equipment {
    margin-right: 25px;
  }

  .comment-top-left .heart {
    vertical-align: middle;
  }

  .comment-top-left .op {
    background-color: transparent;
    color: #1484cd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: auto;
    line-height: 1;
    padding: 1px 3px;
    border: 1px solid #1484cd;
    border-radius: 3px;
    margin-right: 10px;

  }

  .comment-top-right .shield_thank {
    margin-right: 20px;
    visibility: hidden;
  }

  .comment-top-right:hover .shield_thank {
    visibility: visible;
  }

  .comment-content {

    font-size: 16px;
    line-height: 1.6;
    word-break: break-word;
  }

  .sticky {
    position: -webkit-sticky; /* safari 浏览器 */
    position: sticky; /* 其他浏览器 */
    bottom: 1px;
  }

  .reply-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .reply-content {
    padding: 20px;
    padding-right: 30px;
  }

  .reply-content textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 112px;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    width: 100%;
  }

  .reply-content textarea:focus-visible {
    outline: 1px solid #DBA901 !important;
  }

  .reply-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    line-height: 50px;
    height: 50px;
  }

  .reply-footer_left {
    flex: 0 0 80px;
  }

  .reply-footer_left input {
    width: 100%;
    background-color: #ffffff;
  }


</style>
